.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;

  .logo {
    max-width: 100%;
    height: auto;

    .img {
      width: 100%;
      height: auto;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 24px;

    .title {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      color: green;
      gap: 20px;

      .banner {
        width: 200px;
        height: 200px;
        animation: spin 20s linear infinite;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    .text_header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text {
        font-weight: bold;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 20px;

    .main_info {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      margin-top: 30px;

      .card {
        height: 150px;
        padding: 0 16px;
        background: rgb(17, 4, 134);
        border-radius: 15px;
        box-shadow:
          rgb(0, 0, 0, 0.1) 5px 10px 50px,
          rgb(0, 0, 0, 0.1) -5px 0px 250px;
        display: flex;
        color: white;
        justify-content: center;
        position: relative;
        flex-direction: column;
        background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;

        h2 {
          font-size: 1.6rem;
        }

        p {
          text-align: center;
          font-size: 3.2rem;
          font-weight: bold;
        }
      }

      .button {
        width: 100%;
        margin-top: 10px;
        min-width: 180px;
      }
    }

    .chart {
      padding: 8px;
      max-width: 80%;
      width: auto;

      canvas {
        width: 100%;
        height: 100%;
      }

      .card_notes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
      }
    }

    .histories {
      border-radius: 4px;
      background-color: #ffcaa6;
      padding: 20px;
      position: relative;
    }
  }
}

.led {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.led_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.led .text {
  font-size: 36px;
  font-weight: bold;
}

.led input {
  margin-left: 20px;
}

.led img {
  width: 100px;
  height: 100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Bắt đầu từ góc 0 độ */
  }
  100% {
    transform: rotate(360deg); /* Quay một vòng đầy đủ, tương ứng với 360 độ */
  }
}

.button_histories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0em 1em 1em;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 4px 6px 0px black;
  border: 4px solid;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  transition:
    box-shadow 250ms,
    transform 250ms,
    filter 50ms;
}
button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 3px 0px black;
}
button:active {
  filter: saturate(0.75);
}
button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: pink;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
button:hover::after {
  transform: translateX(0);
}
.bgContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 35%;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 23px;
}


.bgContainer span {
  position: relative;
  transition: all 250ms;
}
.button:hover .bgContainer > span {
  transform: translateX(0);
}
.arrowContainer {
  padding: 1rem;
  margin-inline-end: 1.6rem;
  border: 4px solid;
  border-radius: 50%;
  background-color: pink;
  position: relative;
  overflow: hidden;
  transition:
    transform 250ms,
    background-color 250ms;
  z-index: 100;
}
.arrowContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: yellow;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}
button:hover .arrowContainer::after {
  transform: translateX(0);
}
button:hover .arrowContainer {
  transform: translateX(5px);
}
button:active .arrowContainer {
  transform: translateX(8px);
}
.arrowContainer svg {
  vertical-align: middle;
}
