.card {
  padding: 16px;
  background-color:#606c88;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 
  border-radius: 20px;
  color: #fff;

  .title {
    display: flex;
    align-items: center;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #1f2937;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 700;
      text-align: left;
      color: #fff;
    }
  }
}
